$blue: #6151c4;
$white: #ffffff;
$black: #383838;
$grey: #e2e2e2;
$dark-grey: #e2e2e25d;
$dark-blue: #301a80;

@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
  font-family: "Poppins";
  -ms-overflow-style: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
.container {
  margin: 0px;
  min-height: 100vh;
  background-color: $grey;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px !important;

  &_center {
    justify-content: center;
  }
  &_space {
    justify-content: space-between;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

header {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 99;
  background-color: $blue;
  color: $white;
  font-weight: 900;
  padding-top: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .nav {
    font-size: 18px;
    .title,
    .menu {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 50px;
      padding: 0px 10px;
    }
    .menu {
      border-radius: 100%;
      background-color: $dark-grey;
      width: 30px;
      height: 30px;
      text-align: center;
      margin-right: 10px;
      padding-left: 5px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.pages {
  position: absolute;
  padding-top: 120px;
  background-color: $white;
  .result {
    width: 100vw;
    min-height: 50vh;
    margin-bottom: 40px;
    margin-top: 0px;
  }
  .search {
    background-color: $grey;
    padding-top: 40px;
    border-radius: 20px 20px 0 0;
    .bar {
      input {
        border-radius: 8px 0px 0px 8px;
        border: 1px solid $white;
        padding: 8px;
        height: 40px;
      }
      .images {
        background-color: $blue;
        width: 40px;
        height: 40px;
        border-radius: 0 8px 8px 0;
        img {
          width: 20px;
          height: auto;
        }
      }
    }
  }
}

.weather {
  &_icon {
    img {
      width: 130px;
    }
  }
  &_city {
    font-size: 14px;
    font-weight: 200;
  }
  &_temp {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
  }
  &_desc {
    font-size: 14px;
    font-weight: 100;
  }
}

.ui {
  &_card {
    background-color: $blue;
    border-radius: 10px;
    width: 200px;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $white;
  }
  &_modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    background-color: rgba(14, 7, 7, 0.514);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    display: flex;
    align-items: start;
    justify-content: center;
    &.enter-done {
      opacity: 1;
      pointer-events: visible;
    }
    &_modal.exit {
      opacity: 0;
    }
    &.modal.enter-done,
    &_modal-content {
      transform: translateY(0);
    }

    &.modal.exit,
    &_modal-content {
      transform: translateY(0);
    }

    &_modal-content {
      margin: 80px 20px 0px 20px !important;

      max-width: 500px !important;

      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: none;
    }

    &_modal-header {
      padding: 10px;
      height: auto;

      background-color: $blue;
      color: $white;

      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    &_modal-footer {
      background-color: $blue;
      padding: 10px;
    }

    &_modal-footer a {
      text-decoration: none;
      color: var(--text-color);
      background-color: $dark-blue;
      padding: 8px 0px 8px 12px;
      border-radius: 8px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_modal-footer span {
      margin: 0px 0px 0px -8px;
      padding: 0px;
    }

    &_modal-title {
      margin: 0 10px 0 0 !important;
      min-height: 20px;
      max-width: 80% !important;
      max-height: 80px;
      flex-wrap: wrap;
    }

    &_modal-body {
      padding: 20px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      p {
        text-align: justify;
        text-indent: 20px;
      }
    }

    &_modal-body img {
      width: 100%;
    }
  }
  &_button-close {
    position: relative;
    width: 18px;
    height: 18px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &::before,
    &::after {
      position: absolute;
      content: " ";
      height: 24px;
      width: 2px;
      background-color: $dark-blue;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
